/* I'll organise later */

* {
	margin: 0;
	padding: 0;
}

/*/ ::stuff /*/
::-moz-selection { /*/ Code for Firefox /*/
	color: #402be362;
	background: white;
  }

  ::selection {
	color: #402be362;
	background: white;
  }
  /* ::Scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #2340c2; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #402be38a; 
  }

hr {
	width: 5%;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
	height: 3px;
	border-radius: 50em;
}

ul li{
    list-style-type: none;
	list-style: none;
}

a {
	color: #11149ec4;
}
a:hover {
	color: #090b66c4;
}
/*/ IDS /*/
#proudimg {
	width: 220px;
	margin-left: auto;
	margin-right: auto;
}

#felik {
	color: #11149ec4;
}

#fatiu {
	color: #11149ec4;
}

#myworkhr {
	background-color: #11149ec4;
}

#moreinfo {
	color: white;
	background-color: #11149ec4;
}
#moreinfo:hover {
	color: white;
	background-color: #0e107ac4;
}

#twitter {
	color: #fff;
	width: 200px;
	font-size: 2em;
}
#fb {
	color: #fff;
	width: 170px;
	font-size: 2em;
	margin-left: 10px;
}
#ig {
	color: #fff;
	width: 170px;
	font-size: 2em;

}
#li {
	color: #fff;
	width: 170px;
	font-size: 2em;

}

#twitter:hover {
	color: #00A1FA;
	width: 170px;
	font-size: 2.3em;
}
#gh {
	color: #fff;
	width: 170px;
	font-size: 2em;
}
#gh:hover {
	color: black;
	width: 170px;
	font-size: 2.3em;
}
#CP {
	color: #fff;
	font-size: 2em;
}
#CP:hover {
	color: black;
	font-size: 2.3em;
}
#ln {
	color: #fff;
	width: 170px;
	font-size: 2em;
}
#ln:hover {
	color: #0A66C2;
	width: 170px;
	font-size: 2.3em;
}
#ig:hover {
	background: -webkit-linear-gradient(#5851db, #e1306c, #fd1d1d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 170px;
	font-size: 2.3em;
}
#li:hover {
	color: #e7fa3d;
	width: 170px;
	font-size: 2.3em;
}

#mar1  {
	margin-bottom: 3px;
}

#newproject1 {
	margin-bottom: 120px;
}
#comingsoon1 {
	margin-bottom: 75px;
}
#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #11149ec4; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 100%; /* Rounded corners */
	font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
	background-color: #0e107ac4; /* Add a dark-grey background on hover */
  }
/*/ Classes /*/

.bg {
	background-image: linear-gradient(#402be38a, #1d20c4a1, #2340c2);
}

.socials {

	color: #fff;
}

.is-horizontal-center {
	justify-content: center;
  }

.footer {
	background-color: #11149ec4;
}


@media (max-width: 900px) {
	.fixedSize {
		height: 85%;
	}

	.content ul {
		margin-left: 0;
	}
}

#is-primary {
	color: #2340c2;
}

.custom-shape-divider-bottom-1619031611 {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1619031611 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1619031611 .shape-fill {
    fill: #11149EC4;
}